# Copyright (c) 2024 Hubble Network, Inc.
# SPDX-License-Identifier: Apache-2.0

module = HUBBLE
module-str = HubbleNetwork
source "subsys/logging/Kconfig.template.log_config"

config HUBBLE_SAT_NETWORK
	   bool "Hubble Satellite Network Library [EXPERIMENTAL]"
	   select EXPERIMENTAL
	   select ENTROPY_GENERATOR
	   help
		Enable library for communication with Hubble network

if HUBBLE_SAT_NETWORK

config HUBBLE_SAT_NETWORK_SMALL
	   bool "Use smaller code size for fly by calculation"
	   help
		Reduces code using polynomial approximation
		for trigonometric functions

config HUBBLE_SAT_NETWORK_DEVICE_TDR
	   int "Device time drift retry rate in PPM"
	   default 500
	   help
		Adds additional retries proportional to time since
		last time the device had utc time synced. It is
		represented in PPM (parts per million).

choice
	prompt "Hubble Sat Network protocol"
	default HUBBLE_SAT_NETWORK_PROTOCOL_V1

config HUBBLE_SAT_NETWORK_PROTOCOL_V1
	   bool "Use V1 protocol"
	   help
		First version of Sat protocol. Channel hopping within transmissions.

config HUBBLE_SAT_NETWORK_PROTOCOL_DEPRECATED
	   bool "Use deprecated protocol"
	   select DEPRECATED
	   help
		Deprecated version of Sat protocol. No channel hopping during transmissions.
endchoice

endif

menuconfig HUBBLE_BLE_NETWORK
	   bool "Hubble BLE Network Library"
	   help
		Enable library for communication with Hubble BLE network

choice
	prompt "Hubble Network key size"

config HUBBLE_NETWORK_KEY_256
	   bool "Use 256 bits key size"
	   help
		256 bits key size

config HUBBLE_NETWORK_KEY_128
	   bool "Use 128 bits key size"
	   help
		128 bits key size

endchoice

config HUBBLE_KEY_SIZE
	   int
	   default 32 if HUBBLE_NETWORK_KEY_256
	   default 16 if HUBBLE_NETWORK_KEY_128

config HUBBLE_NETWORK_SECURITY_ENFORCE_NONCE_CHECK
	   bool "Enforce check in nonce used in cryptography"
	   default y
	   help
		Ensure that nonce parameters are not re-used
		to encrypt different messages.
		Be aware that re-using the same nonce has severe
		security implications.

config HUBBLE_NETWORK_SEQUENCE_NONCE_CUSTOM
	   bool "Application defined implementation"
	   help
		This option allows applications to override the default
		function that returns a sequence number to be used to
		encrypt messages.

config HUBBLE_UPTIME_CUSTOM
	   bool "Application defined uptime implementation"
	   help
		This option allows applications to override the default
		function that returns the system uptime in milliseconds.
		This is primarily useful for unit testing where controlled
		time values are needed to verify time-dependent behavior.
		Implement hubble_uptime_get to override.

choice
	prompt "Hubble Network crypto provider"
	default HUBBLE_NETWORK_CRYPTO_PSA

config HUBBLE_NETWORK_CRYPTO_MBEDTLS
	   bool "Use MBEDTLS"
	   depends on !NRF_SECURITY
	   select MBEDTLS
	   select MBEDTLS_CMAC
	   select MBEDTLS_CIPHER
	   select MBEDTLS_CIPHER_AES_ENABLED
	   select MBEDTLS_CIPHER_MODE_CTR_ENABLED
	   help
		Use MBEDTLS for cryptography.

config HUBBLE_NETWORK_CRYPTO_PSA
	   bool "Use PSA Crypto"
	   select MBEDTLS
	   select MBEDTLS_PSA_CRYPTO_C if !BUILD_WITH_TFM
	   select PSA_WANT_KEY_TYPE_AES
	   select PSA_WANT_ALG_CMAC
	   select PSA_WANT_ALG_CTR
	   help
		Use PSA Crypto for cryptography.

config HUBBLE_NETWORK_CRYPTO_CUSTOM
	   bool "Custom crypto implementation"
	   help
	    Custom cryptography implementation. The target
	    will implement all crypto interfaces.

endchoice

if HUBBLE_BLE_NETWORK

choice
	prompt "HUBBLE BLE Network Timer Counter Frequency"

config HUBBLE_BLE_NETWORK_TIMER_COUNTER_DAILY
	   bool "Timer counter changes daily"
	   help
	        The timer counter will change daily

endchoice

endif

menu "Logging"

endmenu
